
! For device {{ host }}
!

{% for vlan2remove in info[host.name] %}
no vlan{{ vlan2remove }}

{% endfor %}

vlan 10
 name Data_Vlan

vlan 100
 name Voice_Vlan

vlan 300
 name Digital_Signage

vlan 666
 name User_Static_IP_Devices
